/* just for me */
:root {
    --red: rgb(228, 0, 0);
    --black: rgb(39, 38, 38);
}
main {
    /*: calc(390px * 75 / 100);  /* based on an iPhone 12 Pro then 50% to have a global view */
    /*height: calc(844px * 75 / 100); /* based on an iPhone 12 Pro then 50% to have a global view */
    /*border: solid 2px red;
    overflow-y: scroll;
    padding: 0 10px;*/
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
}
main::-webkit-scrollbar { width: 0; }
/* */

h1 {font-size: 4em;}
h2 {font-size: 1.7em;}
section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
img, a { width: 100%; }
a { display: block; }
a:link, a:visited, a:hover, a:active {
    color: var(--black);
    text-decoration: unset;
}
a:hover, a:active { color: var(--red); }

#RSSfeed {
    display: none;
    white-space: nowrap;
    overflow-x: scroll;
}
#RSSfeed ul {
    list-style: none;
    padding: 8px 0 0 0;
    margin: 0;
}
#RSSfeed li { display: inline-block; }
#RSSfeed::-webkit-scrollbar { height: 0; }
#RSSfeed span {
    text-transform: uppercase;
    color: var(--red);
}
#RSSfeed span:after { content: ": "; }
#RSSfeed a:after {
    content: "|";
    color: #d9d9d9;
    padding: 0 8px;
}
#first-news {
    display: flex;
    flex-direction: column;
}
#main-news {
    flex-grow: 1;
}
#main-news h1 {
    text-align: center;
    text-transform: uppercase;
}
.news { padding-bottom: 1rem; }
.news h2 { margin: 0; }
.similar-news b:after {
    content: ": ";
}

#interesting-news a:has(h2) {
    text-align: center;
    background-color: #e6e6e6;
    position: relative;
    margin: auto;
    top: -1.5rem;
    width: 95%;
    padding: 1rem 0;
}
#news-byTheme .theme {
    display: flex;
    background-color: #f2f2f2;
}
#news-byTheme .theme h4 {
    padding: 0.3rem;
    margin: 0;
    width: 100%;
}
#news-byTheme .theme .arrow-ico {
    background-color: rgba(191, 191, 191, 0.5);
    top: 0;
    bottom: 0;
    width: 2rem;
}
.similar-news-imaged {
    display: flex;
    margin-top: 0.5rem;
    box-sizing: border-box;
}
.similar-news-imaged div:has(img) { width: 25%; }
.similar-news-imaged div:has(hr) { width: 75%; }
.similar-news-imaged div:has(hr) a {padding-left: 0.3rem;}
.similar-news-imaged div hr { margin-top: 0; }

#inCaseYouMissedIt {
    background-color: #1a1a1a;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 8px;
}
#inCaseYouMissedIt .section-title {
    display: inline-flex;
    gap: 0.5rem;
    flex-basis: 100%;
}
#inCaseYouMissedIt .section-title hr {
    flex: 1;
    border: none;
    height: 0.3rem;
    border-top: solid 0.2rem var(--red);
    border-bottom: solid 0.2rem var(--red);
    margin: auto;
}
#inCaseYouMissedIt div a {color: unset; }



/* do not touch, webstorm is just not up to date */
/* ↓ tablet & desktop */
@media (width >= 768px) {
    main { padding: 5%; }
    section { flex-direction: row; }
    #RSSfeed {display: block;}
    a:hover { color: var(--red); }
    a:active { color: var(--red); }
}