footer{
    background: rgb(33, 37, 41);
    color: #e6e6e6;
    padding-top: 1em;
    text-align: center;
    margin-top: 150rem;
}
ul#social a{
    text-decoration: none;
}

ul#social a:visited{
    text-decoration: none;
}
ul#social{
    margin-left: -1.5rem;
}
.footer ul li{
    list-style: none;
    text-align: center;
}
ul#social li{
    display: inline-flex;
    text-align: center;
    padding-right: .5rem;
}

.imgFooter{
    width: 2rem;
}

ul#social a{
    text-decoration: none;
}

ul#social a:visited{
    text-decoration: none;
}
ul#social{
    margin-left: -1.5rem;
}
#social li a img{
    max-width: 1rem;
}

@media screen and (min-width: 768px){
    .footer{
        text-align: left;
    }
    .footer ul li{
        display: inline-flex;
        padding-left: 1rem;
        margin-top: 0;
    }
    .footer ul li p{
        padding-top: 0rem;
    }
}