footer{
    background: rgb(33, 37, 41);
    color: #e6e6e6;
    padding-top: 1em;
    text-align: center;
}
ul {
    margin: 0;
}
.footer ul li{
    list-style: none;
    text-align: center;
}
ul#social{
    padding-left: 1.5rem;
}
ul#social li{
    flex-direction: row;
    display: block;
    text-align: center;
    padding-top: .5rem;
}

.imgFooter{
    width: 2rem;
}

ul#social a{
    text-decoration: none;
}

ul#social a:visited{
    text-decoration: none;
}
#social li a img{
    max-width: 1.5rem;
}
#social li img{
    max-width: 2rem;
}

@media screen and (min-width: 768px){
    .footer{
        text-align: left;
    }
    .footer ul li{
        display: inline-flex;
        padding-left: 1rem;
        margin-top: 0;
    }
    .footer ul li p{
        padding-top: 0rem;
    }
    ul#social li{
        flex-direction: row;
        display: inline-flex;
    }
    ul#social li a {
        padding: .4em;
    }
    #logoInFollow{
        margin-right: 25rem;
    }
}
@media screen and (min-width: 1024px){
    div#follow{
        margin-left: 0em;
    }
    #logoInFollow{
        margin-right: 35rem;
    }
}