nav {
    color: #e6e6e6;
}
footer{
    background-color: rgb(33, 37, 41);
    color: #e6e6e6;
    text-align: center;
}
.container-fluid{
    flex-direction: column;
    display: inline-block;
}
.close{
    background-color:rgb(33, 37, 41);
    border: none;
}
.close span{
    color: rgb(94, 98, 97);
}
.audioFooter li {
    list-style: none;
}
.audioFooter li a {
    margin-left: -2rem;
}
.bar1{
    width: 30rem;
}

#follow{
    flex-direction: column;
    display: inline-block;
}

#categories ul li{
    text-align: center;
    padding: .5rem;
    color: #e6e6e6;
}
#dropdown a{
    padding: 1rem;
    text-align: center;
}

#dropdown a h6{
    display: inline;
}

#dropdown_Large{
    display: none;
}

ul#social{
    margin-left: -2rem;
}

#bar{
    margin-bottom: 2rem;
}

ul#social a{
    text-decoration: none;
}

ul#social a:visited{
    text-decoration: none;
}

ul#social li{
    text-align: center;
    padding: 1rem;
}

#categories ul li a:hover{
    text-align: center;
    text-decoration: underline;
}

.categoriesContent{
    display: none;
}

@media screen and (min-width: 768px) {
    #categories ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 3rem;
        column-gap: 5rem;
        grid-auto-rows: minmax(100px, auto);
    }
    #dropdown{
        display: none;
    }
    #dropdown_Large{
        flex-direction: column;
        display: inline-block;
        margin-top: 1rem;
    }
    #dropdown_Large ul li{
        display: inline-flex;
        text-align: center;
        padding-left: 3rem;
    }
    #bar1{
        width: 45rem;
    }
    .categoriesContent{
        display: inline-block;
        font-size: .8rem;
        padding-bottom: .8rem;
        font-weight: lighter;
    }
    .categoriesContent ul li{
        list-style: none;
    }
    .categoriesContent li a:hover{
        text-decoration: none;
    }
    .audioFooter{
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    #bar1{
        width: 63rem;
    }
    #bar2{
        width: 63rem;
    }
    #categories ul{
        grid-template-columns: repeat(6, 1fr);
        row-gap: 3rem;
        column-gap: 5rem;
        grid-auto-rows: minmax(100px, auto);
    }
    #follow{
        flex-direction: row;
        display: inline-flex;
        margin-left: 45rem;
    }
}
