nav {
    color: #e6e6e6;
}
footer{
    background-color: rgb(33, 37, 41);
    color: #e6e6e6;
    text-align: center;
}
.container-fluid{
    flex-direction: column;
    display: inline-block;
}
#follow{
    flex-direction: column;
    display: inline-block;
}

#categories ul li{
    text-align: center;
    padding: .5rem;
    color: #e6e6e6;
}
#dropdown a{
    padding: 1rem;
    text-align: center;
}

#dropdown a h6{
    display: inline;
}

ul#social{
    margin-left: -2rem;
}

ul#social a{
    text-decoration: none;
}

ul#social a:visited{
    text-decoration: none;
}

ul#social li{
    display: inline;
    text-align: center;
    padding: 1rem;
}

#categories ul li:hover{
    text-align: center;
    padding: .5rem;
    text-decoration: underline;
}
