header nav {
    position: unset !important;
}
p {
    padding: 8px;
}
#menuIcon{
    max-width: 30px;
}

#logoAndMore{
    flex-direction: row;
    display: inline-block;
}
#logoAndMore ul li{
    display: inline;
}

ul#navbar_left li{
    display: inline-flex;
}

@media screen and (min-width: 768px){
    #navbarNav li{
       padding-left: 0.5em;
        padding-right: 0.5em;
    }
    ul #search{
        margin-left: 80%;
    }
}